<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
		th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<h2>Content from contact page</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum beatae enim
		 sed sint possimus maxime dignissimos totam impedit temporibus ex explicabo sapiente
		  repellendus adipisci voluptatum quod esse deserunt suscipit odit incidunt magnam
		   dolore ipsum illo est unde eius! Excepturi iste itaque beatae ab reiciendis vero!
		    Dolor illo iure tempora laborum!</p>
		    
		 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum beatae enim
		 sed sint possimus maxime dignissimos totam impedit temporibus ex explicabo sapiente
		  repellendus adipisci voluptatum quod esse deserunt suscipit odit incidunt magnam
		   dolore ipsum illo est unde eius! Excepturi iste itaque beatae ab reiciendis vero!
		    Dolor illo iure tempora laborum!</p>
	</section>
	
</body>
</html>